<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="unstyled list-hover-slide">
      <a routerLink="/acceuil" class="list-group-item list-group-item-action bg-light">Acceuil</a>
      <a routerLink="/climatiseurs" class="list-group-item list-group-item-action bg-light">Climatiseurs</a>
      <a routerLink="/groupeEauGlacee" class="list-group-item list-group-item-action bg-light">Groupe Eau Glacé</a>
      <a routerLink="/compresseurs" class="list-group-item list-group-item-action bg-light">compresseurs</a>
      <a routerLink="/condenseurs" class="list-group-item list-group-item-action bg-light">condenseurs</a>
      <a routerLink="/industriels" class="list-group-item list-group-item-action bg-light">industriels</a>
      <a routerLink="/accessoires" class="list-group-item list-group-item-action bg-light">accessoires</a>
      <a routerLink="/informatique" class="list-group-item list-group-item-action bg-light">informatique</a>
      <a routerLink="/contact" class="list-group-item list-group-item-action bg-light">contact</a>
      <a routerLink="/devis" class="list-group-item list-group-item-action bg-light">devis</a>
    </div>
    <!-- /#sidebar-wrapper -->
  </div>
</div>