<div class="float-lg-left"> 
 <div class="card" >
    <div class="card-body">
     <table class="table table-dark">
        <thead>
          <tr>

            <th scope="col" style="font-style: oblique;color: rgb(241, 247, 242);"> <h3 >Réference</h3></th>
            <th scope="col" style="font-style: oblique;color: rgb(241, 247, 242);"><h3>Prix</h3></th>
             <th scope="col" style="font-style: oblique;color: rgb(241, 247, 242);"><h3>Demande de devis</h3></th>
            
          </tr>
        </thead>
        </table>
    <div class="card">

        <div class="card-body">
            <br>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>    </div>
      </div>
      <div class="card-footer">
        srgfvc
        segfvc
        qergfvc

         </div>
</div>
</div>




</div><br>
 